<div style="width: 600px; border: 1px solid #cccccc;border-radius:0 0 8px 8px; border-top:4px solid #df3434; padding: 0 auto;margin: 0 auto;">
    <div style="text-align: center; padding: 10px 0; font-size: 20px; font-weight: bold;">Miner - 每日早报</div>
    <% for(item in items) { %>
    <div>
        <div style="padding-left: 10px; font-size: 17px;">
            <span style="background-color: #ba9343; color: #f9f9f9;padding: 0 10px; border-radius: 2px;">${item.key}</span>
        </div>
        <div>
            <ul style="list-style: none;padding: 0 20px;">
                <% for(v in item.value) { %>
                <li style="padding: 3px;">
                    <a style="color: #df3434; font-size: 15px; text-decoration: none;" target="_blank" href="${v.url}">${v.title}</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <% } %>
    <div style="padding: 20px; text-align: center;font-size: 12px; color: #9d9d9d;">
        如果打扰到你，不好意思啊，有本事你 ** <a href="#">退订</a> 啊！
    </div>
</div>